.booking {
    background-color: white;
    height: 50px;
    width: 80%;
    margin: 0px auto 10px auto;
    padding: 2px 10px 0px 30px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking form {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 0px;
}

.booking form input {
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}

.booking form label {
    font-weight: 600;
}

.hotel-input {
    display: flex;
}



.guest {
    border: none;
}