.header {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  color: white;
}

.logo img {
    width: 100%;
}

.header-center {
  display: flex;
  align-items: center;
}

.header-center p {
  font-size: 20px;
  margin-right: 30px;
}

.header-left {
  display: flex;
  align-items: center;
}

.host {
  display: flex;
  align-items: center;
}

.host p {
  font-size: 20px;
}

.profile {
  background-color: white;
  border: 1px solid rgb(222, 222, 222);
  padding: 8px;
  border-radius: 25px;
  align-items: center;
}
