.questions {
    width: auto;
    height: 500px;
    padding: 0px 30px;
    position: relative;
    margin-bottom: 50px;
}

.questions img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.questions div {
    position: absolute;
    top: 50px;
    left: 120px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.questions div p {
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 90px;
    line-height: 80px;
}

.questions div button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }